@charset "UTF-08";

@media screen and (min-width: 576px) {

    /* Layout Principal */
    main {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        min-height: 60vh;
    }

    section {
        flex: 1;
        display: flex;
        flex-direction: column;

    }

    /* Distribuição das colunas */
    .projetos {
        width: 25%;
    }

    .trabalho {
        width: 40%;
    }

    .educacao {
        width: 35%;
    }

    /* Projetos */
    .projetos h2 {
        border-bottom: none;
    }

    .projetos li {
        background-color: white;
    }

    .projetos li:first-child {
        border-top: none;
    }

    .projetos li:last-child {
        border-bottom: none;
    }

    /*Trabalho*/
    .trabalho article {
        background-color: white;
    }

    /* Aside */
    aside {
        border: none;
    }
}